@import url("./reset.css");
@import url("./containers.css");
@import url("./index-page.css");
@import url("./register-page.css");
@import url("./schedule-page.css");
@import url("./account-page.css");
@import url("./competition-page.css");

:root {
	--br1: 1rem;
	--br2: 0.5rem;
	--opacity: 0.8;
}

* {
	box-sizing: border-box;
}

body {
	--bg: #1d1d1d;
	--text: #fff;
	--text2: #fff;
	--accent: #1d9beb;
	--border-color: #4d4d4d;

	margin: 0;
	min-height: 100vh;

	font-size: 16px;
	font-family: Roboto, sans-serif;

	background: var(--bg);
	color: var(--text);

	display: flex;
	flex-direction: column;
}

body#index-light {
	--bg: #fff;
	--text: #1d1d1d;
}

.none {
	display: none;
}

a {
	transition: 0.2s;
}

a:hover {
	color: var(--accent);
}

.button {
	display: flex;
	color: var(--text2);
	background: var(--accent);
	border-radius: var(--br2);
	padding: 10px 24px;
	text-align: center;
}

.button:hover {
	color: var(--text);
	opacity: var(--opacity);
}

.top {
	padding-top: 60px;
}

.top-2 {
	margin-top: 1.5rem;
}

body#index-light {
}

.error-page {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10vw;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	margin-top: 20px;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 1rem;

	font-size: 20px;
}

.header__menu {
	display: flex;
	gap: 1rem;
}

.header__menu a {
	font-size: 18px;
}

.change-theme {
	display: block;

	width: 20px;
	aspect-ratio: 1;

	border-radius: 50%;
}

.change-theme--light {
	background: #edcf0b;
}

.change-theme--dark {
	background: #1d1897;
}

.main {
	margin-bottom: 80px;
}

.footer {
	margin-top: auto;
	background: #000;
	color: var(--text2);
}

.footer__inner {
	padding: 1rem 0;

	display: flex;
	justify-content: space-between;
	gap: 2rem;
}
.footer__contacts {
	display: grid;
	gap: 0.5rem;
}
.footer__contacts-link {
}
.footer__nav {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
}
.footer__nav a {
	font-size: 18px;
}
.footer__nav-link {
}

.header__burger {
	display: none;
}

@media (max-width: 1380px) {
	.footer__nav a {
		font-size: 16px;
	}
}

@media (max-width: 1280px) {
	.header__menu a {
		font-size: 16px;
	}
}

@media (max-width: 1040px) {
	.header__wrapper {
		flex-direction: column;
	}

	.competitions__slider {
		height: 600px;
	}
}

@media (max-width: 980px) {
	.top {
		padding-top: 50px;
	}

	.competitions__slider-desc {
		max-width: 80%;
	}
}

@media (max-width: 796px) {
	.header__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.header__nav {
		grid-column: 1/-1;
		display: none;
	}

	.header__nav.opened {
		display: block;
	}

	.header__nav.opened .header__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.header__burger {
		display: block;
		font-size: 18px;
		font-weight: 700;
		text-align: right;
	}
}

@media (max-width: 680px) {
	.footer__contacts {
		display: flex;
		flex-direction: column;
	}

	.footer__nav {
		flex-direction: column;
	}
}

@media (max-width: 480px) {
	.footer__inner {
		flex-direction: column;
	}

	.cards__inner {
		grid-template-columns: repeat(1, 1fr);
	}
}
